Repository otetoteto/remix-spa-template: changes, and which lefthook commands are due for each by the changed paths.
All: biome, typecheck

biome:
  run: pnpm lint

typecheck:
  run: pnpm typecheck

resolve hydration error
  .vscode/settings.json
  app/entry.client.tsx
  app/index.html
  app/routes/_.edit.$id/route.tsx
  backend_sample/src/app.ts
Due: biome, typecheck

docs: ディレクトリ構成 update
  docs/readme/ディレクトリ構成.md
Due: none

chore: ignore build dir
  biome.json
Due: biome

chore: form validation
  app/components/Button/Button.tsx
  app/components/Clickable/Clickable.tsx
  app/components/Link/Link.tsx
  app/generated/openapi/schema.ts
  app/libs/validation/post.ts
  app/routes/_._index/PostList.tsx
  app/routes/_._index/route.tsx
  app/routes/_.delete/route.ts
  app/routes/_.edit.$id/ContentInput.tsx
  app/routes/_.edit.$id/TitleInput.tsx
  app/routes/_.edit.$id/route.tsx
  app/routes/_.edit.$id/usePostFormStore.tsx
  backend_sample/openapi.yaml
  backend_sample/src/app.ts
  package.json
  pnpm-lock.yaml
  tailwind.config.ts
Due: biome, typecheck

deps: add msw & orval
  package.json
  pnpm-lock.yaml
Due: biome

chore: add faker & mod docs
  docs/readme/テスト戦略.md
  docs/readme/ディレクトリ構成.md
  package.json
  pnpm-lock.yaml
Due: biome

test setup
  .gitignore
  app/entry.client.tsx
  app/entry.server.tsx
  app/index.html
  app/libs/mocks/msw.ts
  app/libs/mocks/posts.ts
  app/libs/testUtils/fixture.ts
  app/root.tsx
  app/routes/_.edit.$id/ContentInput.tsx
  app/routes/_.edit.$id/route.integration.test.ts
  app/routes/_.edit.$id/route.tsx
  app/routes/_/route.tsx
  biome.json
  docs/readme/テスト戦略.md
  docs/readme/ディレクトリ構成.md
  package.json
  playwright.config.ts
  pnpm-lock.yaml
  public/mockServiceWorker.js
  tsconfig.json
  vitest.config.ts
Due: biome, typecheck

fix
  .vscode/extensions.json
  app/libs/validation/post.ts
  app/utils/assert.ts
  docs/readme/環境構築.md
Due: biome, typecheck

Path conditions:
  biome: any of: *.{js,jsx,ts,tsx,json}
  typecheck: any of: *.{ts,tsx}
